@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.page-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
}

.sidebar-bar{
  width: 18%;
  min-width: 18%;
}

.site-header{
  height: 60px;
}

.main-page{
  background-color: #EBEFF2;
  height: 100vh;
  min-width: 82%;
}

.main{
  height: 100%;
  background-color: #EBEFF2;
  overflow-y: auto;
  padding: 24px 0;
}