//* colors

$blue-color: #109CF1;
$yellow-color: #FFB946;
$red-color: #F7685B;
$green-color: #2ED47A;
$purple-color: #885AF8;
$text-color: #192A3E;
$light-color: #fff;
$table-color: #323C47;
$grey-color: #707683;
$dark-blue-color: #334D6E;
$light-grey-color: #90A0B7;
$icon-color: #C2CFE0;

//* font

$main-font: 'Poppins', sans-serif;